:host {
    display: block;
    font-family: 'Open Sans', 'Montserrat', 'Source Sans Pro', sans-serif;
}

.layout-main-wrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: #f4f6f9; /* Fondo gris típico de AdminLTE */
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: 100vh;
  overflow: hidden;
}

.layout-content {
  flex: 1 1 auto;
  overflow-y: auto;
  padding: 15px;
}