<p-dialog
  header='Añadir característica'
  [(visible)]='modalVisible'
  [modal]='true'
  [style]="{ width: '30rem' }"
  [breakpoints]="{ '640px': '90vw' }"
>
  <div class='fields-row'>
    <div class='field col-12'>
      <label for='modal-caracteristica'>Característica</label>
      <p-select
        id='modal-caracteristica'
        [ngModel]='caracteristicaSeleccionada'
        [ngModelOptions]="{ standalone: true }"
        (onChange)='seleccionarCaracteristica($event)'
        [options]='caracteristicasDisponibles'
        optionLabel='nombre'
        optionValue='id'
        placeholder='Selecciona una característica'
        styleClass='w-full'
        appendTo='body'
        [panelStyle]="{ width: '26rem' }"
      ></p-select>
    </div>
  </div>

  <div class='fields-row'>
    <div class='field col-12'>
      <label for='modal-medida'>Medida</label>
      <p-select
        id='modal-medida'
        [ngModel]='medidaSeleccionada'
        [ngModelOptions]="{ standalone: true }"
        (onChange)='seleccionarMedida($event)'
        [options]='medidasDisponibles'
        optionLabel='nombre'
        optionValue='id'
        placeholder='Selecciona una medida'
        styleClass='w-full'
        appendTo='body'
        [panelStyle]="{ width: '26rem' }"
      ></p-select>
    </div>
  </div>

  <form [formGroup]='modalForm'>
    <div class='fields-row'>
      <div class='field col-6'>
        <label for='modal-valor'>Valor</label>
        <input id='modal-valor' type='text' pInputText formControlName='valor' />
      </div>

      <div class='field col-6'>
        <div class='field field-checkbox'>
          <label
            class="switch-native"
            [class.verde]="modalForm.get('visible')?.value"
            [class.rojo]="!modalForm.get('visible')?.value"
          >
            <input id='modal-visible' type='checkbox' formControlName='visible' />
            <span class='slider-native'></span>
            <span class='sr-only'>Visible</span>
          </label>
          <label for='modal-visible'>Visible</label>
        </div>
      </div>
    </div>
  </form>

  <ng-template pTemplate='footer'>
    <p-button
      label='Cancelar'
      severity='secondary'
      [text]='true'
      (onClick)='cerrarModal()'
    ></p-button>
    <p-button
      label='Guardar'
      [loading]='guardando'
      [disabled]='modalForm.invalid'
      (onClick)='guardarModal()'
    ></p-button>
  </ng-template>
</p-dialog>
