<p-dialog
  header='Añadir característica'
  [(visible)]='modalVisible'
  [modal]='true'
  [style]="{ width: '30rem' }"
>
  <form [formGroup]='modalForm'>
    <div class='fields-row'>
      <div class='field col-12'>
        <label for='modal-caracteristica'>Característica</label>
        <p-select
          id='modal-caracteristica'
          [ngModel]="modalForm.get('caracteristica')?.value"
          [ngModelOptions]="{ standalone: true }"
          (onChange)="modalForm.get('caracteristica')?.setValue($event.value)"
          [options]='caracteristicasDisponibles'
          optionLabel='nombre'
          optionValue='id'
          placeholder='Selecciona una característica'
          styleClass='w-full'
        ></p-select>
      </div>
    </div>

    <div class='fields-row'>
      <div class='field col-12'>
        <label for='modal-medida'>Medida</label>
        <p-select
          id='modal-medida'
          [ngModel]="modalForm.get('medida')?.value"
          [ngModelOptions]="{ standalone: true }"
          (onChange)="modalForm.get('medida')?.setValue($event.value)"
          [options]='medidasDisponibles'
          optionLabel='nombre'
          optionValue='id'
          placeholder='Selecciona una medida'
          styleClass='w-full'
        ></p-select>
      </div>
    </div>

    <div class='fields-row'>
      <div class='field col-6'>
        <label for='modal-valor'>Valor</label>
        <input id='modal-valor' type='text' pInputText formControlName='valor' />
      </div>

      <div class='field col-6'>
        <div class='field field-checkbox'>
          <label
            class="switch-native"
            [class.verde]="modalForm.get('visible')?.value"
            [class.rojo]="!modalForm.get('visible')?.value"
          >
            <input id='modal-visible' type='checkbox' formControlName='visible' />
            <span class='slider-native'></span>
            <span class='sr-only'>Visible</span>
          </label>
          <label for='modal-visible'>Visible</label>
        </div>
      </div>
    </div>
  </form>

  <ng-template pTemplate='footer'>
    <p-button
      label='Cancelar'
      severity='secondary'
      [text]='true'
      (onClick)='cerrarModal()'
    ></p-button>
    <p-button
      label='Guardar'
      [loading]='guardando'
      [disabled]='modalForm.invalid'
      (onClick)='guardarModal()'
    ></p-button>
  </ng-template>
</p-dialog>
