<p-dialog
  [header]='titulo()'
  [(visible)]='isVisible'
  [modal]='true'
  [draggable]='false'
  [resizable]='false'
  [style]="{ width: '30rem' }"
>

  <form [formGroup]='form'>

    <input id='id' formControlName='id' hidden='hidden' readonly='readonly' />

    <div class='fields-row'>
      <div class='field col-12'>
        <label for='nombre'>Nombre</label>
        <input id='nombre' type='text' pInputText formControlName='nombre' maxlength='max_nombre' />
      </div>
    </div>

    <div class='fields-row'>

      @if (datos() !== null && datos()?.visible !== undefined) {
        <div class='field col-6'>
          <div class='field field-checkbox'>
            <label
              class='switch-native'
              [class.verde]="form.get('visible')?.value"
              [class.rojo]="!form.get('visible')?.value"
            >
              <input id='modal-visible' type='checkbox' formControlName='visible' />
              <span class='slider-native'></span>
              <span class='sr-only'>Visible</span>
            </label>
            <label for='modal-visible'>Visible</label>
          </div>
        </div>
      }

      <div class='field col-6'>
        <div class='field field-checkbox'>
          <label
            class='switch-native'
            [class.verde]="form.get('activo')?.value"
            [class.rojo]="!form.get('activo')?.value"
          >
            <input id='modal-activo' type='checkbox' formControlName='activo' />
            <span class='slider-native'></span>
            <span class='sr-only'>Activo</span>
          </label>
          <label for='modal-activo'>Activo</label>
        </div>
      </div>

    </div>

    <div class='fields-row'>
      <div class='field col-12'>
        <label for='descripcion'>Descripción</label>
        <textarea id='descripcion' type='text' pInputText formControlName='descripcion'></textarea>
      </div>
    </div>

  </form>

  <ng-template #footer>

    <p-button
      label='Cancelar'
      severity='secondary'
      [text]='true'
      (onClick)='cerrarModal()'>
    </p-button>

    <p-button
      label='Guardar'
      [loading]='guardando'
      [disabled]='form.invalid'
      (onClick)='guardarModal()'>
    </p-button>

  </ng-template>

</p-dialog>

