<div class='content'>
  <div class='block'>
    <ul class='nav nav-tabs'>
      <li [class.active]="tabActiva === 'datos'">
        <a (click)="seleccionarTab('datos')">Datos</a>
      </li>
      @if (esEdicion) {
        <li [class.active]="tabActiva === 'roles'">
          <a (click)="seleccionarTab('roles')">Roles</a>
        </li>
      }
    </ul>

    <div class="tab-content">
      @if (tabActiva === 'datos') {
        <app-datos [(idUsuario)]="idUsuario" (usuarioCreado)="usuarioCreado($event)" />
      } @else if (tabActiva === 'roles' && esEdicion) {
        <app-roles [(idUsuario)]="idUsuario" />
      }
    </div>

  </div>
</div>

<p-toast [life]='1500'></p-toast>
