<p-dialog
  [header]="titulo()"
  [(visible)]="isVisible"
  [modal]="true"
  [draggable]="false"
  [resizable]="false">

  <select
    [ngModel]="seleccionado"
    (ngModelChange)="seleccionado = $event">

    <option [ngValue]="null">
      Seleccione...
    </option>

    @for (opcion of opciones(); track opcion.id) {
      <option [ngValue]="opcion.id">
        {{ opcion.texto }}
      </option>
    }

  </select>

  <div>
    <p-button
      type="button"
      label="Cancelar"
      severity="danger"
      (onClick)="cerrar()">
    </p-button>

    <p-button
      type="button"
      label="Aceptar"
      (onClick)="aceptar()">
    </p-button>
  </div>

</p-dialog>
