<span id='municipio-select-label'>Municipios</span>
<p-select
  [ariaLabelledBy]="'municipio-select-label'"
  [options]="municipios"
  optionLabel="nombre"
  optionValue="id"
  placeholder="Selecciona una provincia"
  [ngModel]="value"
  (onChange)="seleccionar($event)"
  (onClear)="limpiar()"
  (onBlur)="onTouched()"
  [disabled]="disabled()"
  [loading]="cargandoMunicipios"
  [showClear]="value !== null"
  [virtualScroll]="true"
  [virtualScrollItemSize]="38"
  [filter]="true"
  filterBy="nombre"
  styleClass="w-full"
  [style]="{'width': '100%'}"
></p-select>
