<nav id='sidebar' class='layout-sidebar'>
  <div class='side-header side-content bg-white-op'>
    <a class='h5 text-white' routerLink='/instalaciones' title=''>
      <img src='/images/logo_admin_es.png' alt='Idioma' />
      <span class='logo font-w600 sidebar-mini-hide'></span>
    </a>
  </div>

  <div id='sidebar-scroll' class='sidebar-content'>
    <div class='side-content'>
      <ul class='nav-main' (click)='onNavClick($event)' (keydown)='onNavClick($event)'>

        <!-- Enlace Simple: Instalaciones -->
        <li>
          <a routerLink='/instalaciones' routerLinkActive='active'>
            <i class='pi pi-building'></i>
            <span class='sidebar-mini-hide'>Instalaciones</span>
          </a>
        </li>

        <li><hr /></li>

        <!-- SUBMENÚ 1: Administración -->
        <li class='nav-submenu'>
          <details>
            <summary>
              <i class='pi pi-users'></i>
              <span class='sidebar-mini-hide'>Administración</span>
              <i class='pi pi-chevron-down arrow-icon'></i>
            </summary>
            <ul>
              <!-- Auditoria -->
              <li>
                <a routerLink='/auditorias' routerLinkActive='active'>
                  <span class='sidebar-mini-hide'>Auditorías</span>
                </a>
              </li>
              <!-- Configuración -->
              <li>
                <a routerLink='/configuraciones' routerLinkActive='active'>
                  <span class='sidebar-mini-hide'>Configuraciones</span>
                </a>
              </li>
              <!-- Gestores -->
              <li>
                <a routerLink='/gestores' routerLinkActive='active'>
                  <span class='sidebar-mini-hide'>Gestores</span>
                </a>
              </li>
              <!-- Tipos gestores y propiedades -->
              <li>
                <a routerLink='/tiposgestorespropiedades' routerLinkActive='active'>
                  <span class='sidebar-mini-hide'>Tipos de gestores/propiedades</span>
                </a>
              </li>
              <!-- Tipos de instalaciones -->
              <li>
                <a routerLink='/tiposinstalaciones' routerLinkActive='active'>
                  <span class='sidebar-mini-hide'>Tipos de instalaciones</span>
                </a>
              </li>
              <!-- Menu -->
              <li>
                <a routerLink='/menus' routerLinkActive='active'>
                  <span class='sidebar-mini-hide'>Menús</span>
                </a>
              </li>
              <!-- Propietarios -->
              <li>
                <a routerLink='/propietarios' routerLinkActive='active'>
                  <span class='sidebar-mini-hide'>Propietarios</span>
                </a>
              </li>
              <!-- Usuario -->
              <li>
                <a routerLink='/usuarios' routerLinkActive='active'>
                  <span class='sidebar-mini-hide'>Usuarios</span>
                </a>
              </li>
              <!-- Rol -->
              <li>
                <a routerLink='/roles' routerLinkActive='active'>
                  <span class='sidebar-mini-hide'>Roles</span>
                </a>
              </li>
            </ul>
          </details>
        </li>

        <!-- SUBMENÚ 2: Territorio -->
        <li class='nav-submenu'>
          <details>
            <summary>
              <i class='pi pi-map-marker'></i>
              <span class='sidebar-mini-hide'>Territorio</span>
              <i class='pi pi-chevron-down arrow-icon'></i>
            </summary>
            <ul>
              <li>
                <a routerLink='/comunidades' routerLinkActive='active'>
                  <span class='sidebar-mini-hide'>Comunidades</span>
                </a>
              </li>
              <li>
                <a routerLink='/municipios' routerLinkActive='active'>
                  <span class='sidebar-mini-hide'>Municipios</span>
                </a>
              </li>
              <li>
                <a routerLink='/provincias' routerLinkActive='active'>
                  <span class='sidebar-mini-hide'>Provincias</span>
                </a>
              </li>
            </ul>
          </details>
        </li>

        <!-- SUBMENÚ 3: Espacios y Servicios -->
        <li class='nav-submenu'>
          <details>
            <summary>
              <i class='pi pi-th-large'></i>
              <span class='sidebar-mini-hide'>Actividades y Centros</span>
              <i class='pi pi-chevron-down arrow-icon'></i>
            </summary>
            <ul>
              <li>
                <a routerLink='/actividadesdeportivas' routerLinkActive='active'>
                  <span class='sidebar-mini-hide'>Actividades Deportivas</span>
                </a>
              </li>

              <li>
                <a routerLink='/centroseducativos' routerLinkActive='active'>
                  <span class='sidebar-mini-hide'>Centros Educativos</span>
                </a>
              </li>
            </ul>
          </details>
        </li>

        <!-- SUBMENÚ 4: Parámetros Técnicos -->
        <li class='nav-submenu'>
          <details>
            <summary>
              <i class='pi pi-cog'></i>
              <span class='sidebar-mini-hide'>Parámetros Técnicos</span>
              <i class='pi pi-chevron-down arrow-icon'></i>
            </summary>
            <ul>
              <li>
                <a routerLink='/caracteristicas' routerLinkActive='active'>
                  <span class='sidebar-mini-hide'>Características</span>
                </a>
              </li>

              <li>
                <a routerLink='/cerramientos' routerLinkActive='active'>
                  <span class='sidebar-mini-hide'>Cerramientos</span>
                </a>
              </li>

              <li>
                <a routerLink='/conservaciones' routerLinkActive='active'>
                  <span class='sidebar-mini-hide'>Estados de conservación</span>
                </a>
              </li>

              <li>
                <a routerLink='/estadosusos' routerLinkActive='active'>
                  <span class='sidebar-mini-hide'>Estados de uso</span>
                </a>
              </li>

              <li>
                <a routerLink='/iluminaciones' routerLinkActive='active'>
                  <span class='sidebar-mini-hide'>Iluminaciones</span>
                </a>
              </li>

              <li>
                <a routerLink='/medidas' routerLinkActive='active'>
                  <span class='sidebar-mini-hide'>Medidas</span>
                </a>
              </li>

              <li>
                <a routerLink='/pavimentos' routerLinkActive='active'>
                  <span class='sidebar-mini-hide'>Pavimentos</span>
                </a>
              </li>

            </ul>
          </details>
        </li>

        <!-- SUBMENÚ 5: Niveles -->
        <li class='nav-submenu'>
          <details>
            <summary>
              <i class='pi pi-sliders-h'></i>
              <span class='sidebar-mini-hide'>Niveles</span>
              <i class='pi pi-chevron-down arrow-icon'></i>
            </summary>
            <ul>

              <li>
                <a routerLink='/nivelesdotaciones' routerLinkActive='active'>
                  <span class='sidebar-mini-hide'>Niveles Dotaciones</span>
                </a>
              </li>

              <li>
                <a routerLink='/niveleseducativos' routerLinkActive='active'>
                  <span class='sidebar-mini-hide'>Niveles Educativos</span>
                </a>
              </li>

              <li>
                <a routerLink='/nivelesenergeticos' routerLinkActive='active'>
                  <span class='sidebar-mini-hide'>Niveles Energéticos</span>
                </a>
              </li>

            </ul>
          </details>
        </li>

      </ul>
    </div>
  </div>
</nav>
