<nav id="sidebar" class="layout-sidebar">
    <div class="side-header side-content bg-white-op">
        <a class="h5 text-white" routerLink="/instalaciones" title="">
            <img src="/images/logo_admin_es.png" alt="Idioma" />
            <span class="logo font-w600 sidebar-mini-hide"></span>
        </a>
    </div>

    <div id="sidebar-scroll" class="sidebar-content">
        <div class="side-content">
            <ul class="nav-main">
                <li>
                    <a routerLink="/instalaciones" routerLinkActive="active">
                        <i class="si si-home"></i><span class="sidebar-mini-hide">Instalaciones</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/municipios">
                        <i class="si si-home"></i><span class="sidebar-mini-hide">Municipios</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/provincias">
                        <i class="si si-home"></i><span class="sidebar-mini-hide">Provincias</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/usuarios">
                        <i class="si si-home"></i><span class="sidebar-mini-hide">Usuarios</span>
                    </a>
                </li>
                <li>
                    <hr/>
                </li>
                <li>
                    <a routerLink="/menus">
                        <i class="si si-home"></i><span class="sidebar-mini-hide">Menus</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>