<div class='content'>
  <div class='block'>
    <ul class='nav nav-tabs'>
      <li [class.active]="tabActiva === 'datos'">
        <a (click)="seleccionarTab('datos')">Datos</a>
      </li>
      <!--
      <li [class.active]="tabActiva === 'geoposicion'">
        <a (click)="seleccionarTab('geoposicion')">Geoposición</a>
      </li>
      -->
      <li [class.active]="tabActiva === 'telefonos'">
        <a (click)="seleccionarTab('telefonos')">Telefonos</a>
      </li>
      <!--
      <li [class.active]="tabActiva === 'gestores'">
        <a (click)="seleccionarTab('gestores')">Gestores/Propietarios</a>
      </li>
      <li [class.active]="tabActiva === 'caracteristicas'">
        <a (click)="seleccionarTab('caracteristicas')">Características</a>
      </li>
      <li [class.active]="tabActiva === 'energetica'">
        <a (click)="seleccionarTab('energetica')">Calf. Energetica</a>
      </li>
      <li [class.active]="tabActiva === 'deportivos'">
        <a (click)="seleccionarTab('deportivos')">E. Deportivos</a>
      </li>
      <li [class.active]="tabActiva === 'complementarios'">
        <a (click)="seleccionarTab('complementarios')">E. Complementarios</a>
      </li>
      <li [class.active]="tabActiva === 'rutas'">
        <a (click)="seleccionarTab('rutas')">Rutas</a>
      </li>
      <li [class.active]="tabActiva === 'fotos'">
        <a (click)="seleccionarTab('fotos')">Fotos/Archivos</a>
      </li>
      -->
    </ul>

    <div class="tab-content">
      @if (cargando) {
        <p>Cargando...</p>
      } @else if (tabActiva === 'datos') {
        <app-datos-instalaciones />
      } @else if (tabActiva === 'geoposicion') {
        <div>
          <!-- Poner mapa aquí -->
          <p>Mapa aquí</p>
        </div>
      } @else if (tabActiva === 'telefonos') {
          <app-datos-telefonos />
      }
    </div>

  </div>
</div>
