<app-edit-modal
  [titulo] = '"Espacio deportivo"'
  [(isVisible)]="modalVisible"
  [datos]='espacioDeportivo'
  [maxValores]='{
    nombre: 255
  }'
  [camposMostrar]='{
    nombre: true,
    activo: true,
    descripcion: true
  }'
  (guardar)="guardar($event)"
/>


<div class="row">
  <h1>Espacio deportivo </h1>
</div>

<br/>

<form [formGroup]="form">

  <input id="id" type="text" formControlName="id" readonly='readonly' hidden='hidden' />

  <div class="fields-row">
    <div class="field col-8">
      <label for="nombre">Nombre</label>
      <input id="nombre" type="text" pInputText formControlName="nombre" />
    </div>

    <div class='field col-2'>
      <div class='field field-checkbox'>
        <label
          class="switch-native"
          [class.verde]="form.get('visible')?.value"
          [class.rojo]="!form.get('visible')?.value"
        >
          <input id='modal-visible' type='checkbox' formControlName='visible' />
          <span class='slider-native'></span>
          <span class='sr-only'>Visible</span>
        </label>
        <label for='modal-visible'>Visible</label>
      </div>
    </div>

    <div class='field col-2'>
      <div class='field field-checkbox'>
        <label
          class="switch-native"
          [class.verde]="form.get('activo')?.value"
          [class.rojo]="!form.get('activo')?.value"
        >
          <input id='modal-activo' type='checkbox' formControlName='visible' />
          <span class='slider-native'></span>
          <span class='sr-only'>Activo</span>
        </label>
        <label for='modal-visible'>Activo</label>
      </div>
    </div>

  </div>

  <div class="fields-row">
    <div class="field col-12">
      <label for="descripcion">Descripción</label>
      <textarea id="descripcion" type="text" pInputText formControlName="descripcion"></textarea>
    </div>
  </div>

	<div class="fields-row">
		<div class="field col-12">
			<p-fieldset legend="Caracteristicas">
				<app-list-caracteristicas [idEspacioDeportivo]="espacioDeportivo?.id" />
			</p-fieldset>
		</div>
	</div>

  <div class='fields-row'>
    <div class='field col-12'>
      <p-button type="submit" label="Guardar" [disabled]="form.invalid"></p-button>
    </div>
  </div>

</form>
