<div class="row">
    <h1>Gestión de provincias</h1>
</div>

<br/>

<p-table
    [size]="'small'"
    [value]="provincias"
    [tableStyle]="{ 'min-width': '50rem' }"
    [stripedRows]="true"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[10, 20, 50, 100]"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
    dataKey="id"
    [loading]="cargando"
    [sortOrder]="1"
    >

    <ng-template pTemplate="header">
        <tr>
            <th id='provincia.nombre' pSortableColumn="nombre">Nombre<p-sortIcon field="nombre"></p-sortIcon></th>
            <th id='provincia.estado' class="centrado">Estado</th>
            <th id='provincia.accion' class="derecha">Acciones</th>
        </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="4">
                <div style="display: flex; flex-direction: column; align-items: center; padding: 3rem; text-align: center;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-off-icon lucide-circle-off"><path d="m2 2 20 20"/><path d="M8.35 2.69A10 10 0 0 1 21.3 15.65"/><path d="M19.08 19.08A10 10 0 1 1 4.92 4.92"/></svg>
                    <p style="margin-top: 1rem; color: #64748b; font-weight: 600;">No hay registros para mostrar</p>
                </div>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-provincia>
        <tr>
            <td>{{ provincia.nombre }}</td>
            <td class="centrado">
                <label class="switch-native {{ provincia.activo ? 'verde' : 'rojo' }}">
                    <input type="checkbox" [checked]="provincia.activo" disabled />
                    <span class="slider-native"></span>
                </label>
            </td>
            <td class="derecha">
    <p-button
        severity="secondary"
        [rounded]="true"
        [text]="true"
        (onClick)="editarRegistro(provincia)">

        <!-- SVG en lugar de icono de fuente -->
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
        </svg>
    </p-button>
</td>
        </tr>
    </ng-template>
</p-table>
