<p-dialog
  header='titulo'
  [(visible)]='modalVisible'
  [modal]='true'
  [style]="{ width: '30rem' }"
>
  <form [formGroup]='modalForm'>
    <div class='fields-row'>
      <div class='field col-12'>
        <label for='numero'>Número</label>
        <input id="numero" type="text" pInputText formControlName="numero" />
      </div>
    </div>

    <div class='fields-row'>
      <div class='field col-9'>
        <label for='contacto'>Contacto</label>
        <input id="contacto" type="text" pInputText formControlName="contacto" />
      </div>

        <div class='field col-3'>
          <div class='field field-checkbox'>
            <label
              class="switch-native"
              [class.verde]="modalForm.get('visible')?.value"
              [class.rojo]="!modalForm.get('visible')?.value"
            >
              <input id='modal-visible' type='checkbox' formControlName='visible' />
              <span class='slider-native'></span>
              <span class='sr-only'>Visible</span>
            </label>
            <label for='modal-visible'>Visible</label>
          </div>
        </div>
      </div>

    <div class='fields-row'>
      <div class='field col-12'>
        <label for='notas'>Notas</label>
        <textarea id="notas" type="text" pInputText formControlName="notas"></textarea>
      </div>
    </div>
  </form>

  <ng-template pTemplate='footer'>
    <p-button
      label='Cancelar'
      severity='secondary'
      [text]='true'
      (onClick)='cerrarModal()'
    ></p-button>
    <p-button
      label='Guardar'
      [loading]='guardando'
      [disabled]='modalForm.invalid'
      (onClick)='guardarModal()'
    ></p-button>
  </ng-template>
</p-dialog>
